$x-y-offset: 0.625rem;
$blur: 1rem;
.pushSwitch {
  box-shadow: $x-y-offset*-1 $x-y-offset*-1 $blur rgba(255, 255, 255, 0.5),
  $x-y-offset $x-y-offset $blur rgba(70, 70, 70, 0.12),
  inset $x-y-offset*-1 $x-y-offset*-1 $blur rgba(255, 255, 255, 0.5),
  inset $x-y-offset $x-y-offset $blur rgba(70, 70, 70, 0.12);

  &Container {
    &:hover {
      .pushSwitch {
        box-shadow: $x-y-offset*-1 $x-y-offset*-1 $blur*10 rgba(255, 255, 255, 0.5),
        $x-y-offset $x-y-offset $blur*10 rgba(70, 70, 70, 0.19),
        inset $x-y-offset*-1 $x-y-offset*-1 $blur*10 rgba(255, 255, 255, 0.5),
        inset $x-y-offset $x-y-offset $blur*10 rgba(70, 70, 70, 0.12);
      }
    }
  }
}
